*{
    font-family: 'Open Sans', sans-serif;
  
}

body{
    max-width: 1400px;
    margin: 0 auto;
} 

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.banner {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.banner img{
    width: 30px;
    height: auto;
    margin: 0 5px;
}
.banner span{
    text-decoration: underline;
}

main{
    background-color: #f0eeeb;
    display: flex;
    flex-direction: column;
}
.spense{
    width:200px;
    
}

.spense a{
    color:black;
}

.spense a:hover{
    color:gray;
}

main nav{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: #f0eeeb;
}

.main-nav-links{
    width:300px;
    padding-inline-start: 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main-nav-links li{
margin: 20px;
 }

.main-nav-links li a{
     color: black;
 }
 
.main-nav-links li a:hover, .login a:hover{
     color: gray;
 }


 .login{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.login a{
    color: black;
}    

.login .button a:hover{
    color: white;
}

.button{
    height: 50px;
    width: 120px;
    background-color: black;
    border: 1 px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a{
    color: white;
}

.main-content{
    margin-bottom: 30px;
    width: 90%;
    background-color: #f0eeeb;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.get-started{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #f0eeeb;
}

h1{
    margin: 0;
    font-size: 3em;
    align-self: flex-start;
}


.get-started ul{
    padding-inline-start: 0px;
}

form{
    display: flex;
}

.get-started form .button{
    margin-left: 10px;
}

.main-content-img {
  width: 50%;
  background-image: url(/images/header-img.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right;
}



aside{
    width: 1400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aside-links{
    width: 90%;
    padding: 15px 0px;
    background-color: white;
    align-self: center;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.aside-links li svg{
    color: lightgray;
    width: 30px;
    height: auto;
    padding: 10px;
}

.aside-links li svg:hover{
    color:	#282828;
}

.grid{
    width: 90%;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "escrow cell-phone-img"
                         "video text-editor";
    background-color: #f0eeeb;                         
}


.escrow{
    padding-left: 60px;
    grid-area: escrow;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

h2{
    margin: 10px;
    padding: 0;
    line-height: 10px;
}

.escrow p{
    color: #888888;
}
.escrow a, .text-editor a{
    color: black;
    text-decoration: underline;
}
.cell-phone-img{
    grid-area: cell-phone-img;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cell-phone-img img{
    width: 400px;
    height: auto;
    padding-top: 30px;
}

.video{
    grid-area:video;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888888;
    background-color:  white;
}


h3{
    margin: 30px 0 -3px 0;
    padding: 0;
}

.small-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  white;
}

.small-nav a{
    margin-left:60px;
    color:#888888;
    text-decoration: none;
}

.small-nav a:hover{
    color: #303030;
}

.small-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video p{
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 10px;
}

h4{
    margin-top: 20px;
}

.text-editor{
    grid-area: text-editor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:  white;

}

.text-editor p{
    color: #888888;
}

footer{
    height: auto;
    width: 1400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-div{
    width: 90%;
    height: 150px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.spense{
    width:300px;
    font-size: 10px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;

}

.spense a{
    color: white;
}

.spense a:hover{
    color: white;
}

.footer-links{
    width:500px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

footer h5{
  color: white;
  display: flex;
  align-items: flex-start;
}

.footer-list ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.footer-list a{
    color:  gray;
}

.footer-list a:hover{
    color:white;
}

@media screen and (max-width: 769px){
    body{
        margin: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .banner {
        height:fit-content;
        width: fit-content;
    }

    .banner p{
        width: fit-content;
        display: flex;  
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size:12px;
    }


    .banner img{
    display: none;
    }
    
    main{
        width: fit-content;
        background-color: #f0eeeb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main nav{
        display: none;
    }


    .main-content{
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .get-started{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        margin: 0 auto;
        padding: 5px;
        font-size: 1.5em;
    }
    
    .main-content-img {
        height: 700px;
        width: 100%;
        margin: 10px auto;
        background-size: cover;
      }
      
    aside{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .aside-links{
        width: 100%;
        padding: 15px 0px;
        background-color: white;
        align-self: center;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .aside-links li svg{
        color: lightgray;
        width: 30px;
        height: auto;
        padding: 10px;
    }
    
    .aside-links li svg:hover{
        color:	#282828;
    }
    
    .grid{
        width: fit-content;
        
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;                        
    }
    
    
    .escrow{
        width: 100%;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
    }
    
    h2{
        margin: 10px;
        padding: 0;
        line-height: 10px;
    }
    
    .escrow p{
        color: #888888;
    }
    .escrow a, .text-editor a{
        color: black;
        text-decoration: underline;
    }
    .cell-phone-img{
       display: none;
    }
    
    .cell-phone-img img{
        display: none;
    }
    
    .video{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #888888;
        background-color:  white;
    }
    
    iframe{
        width: fit-content;
    }
    
    h3{
        margin: 30px 0 -3px 0;
        padding: 0;
    }
    
    .small-nav{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color:  white;
    }
    
    .small-nav a{
        margin-left:60px;
        color:#888888;
        text-decoration: none;
    }
    
    .small-nav a:hover{
        color: #303030;
    }
    
    .small-nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .video p{
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 10px;
    }
    
    h4{
        margin-top: 20px;
    }
    
    .text-editor{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color:  white;
    
    }
    
    .text-editor p{
        color: #888888;
    }
    
    footer{
        height: auto;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flex-div{
        width: 100%;
        height: 150px;
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }
    
    .spense{
        width:30%;
        font-size: 10px;
        color: gray;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
    
    }
    
    .spense a{
        color: white;
    }
    
    .spense a:hover{
        color: white;
    }
    
    .footer-links{
        width:70%;
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
    }
    
    footer h5{
      color: white;
      display: flex;
      align-items: flex-start;
    }
    
    .footer-list ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    
    }
    
    .footer-list a{
        color:  gray;
    }
    
    .footer-list a:hover{
        color:white;
    }

}